{% extends 'base.html' %}




{% block body %}
<div>
    Hello
    <!-- <div class="backgroundImage"> -->
        
    </div>
</div>
    {% block form %}
        <h1>Enter Zipcode:</h1>
        <form method="post">
            <label for="zipcode">Enter zipcode:</label>
            <input type="zipcode" id="zipcode" name="zipcode" required />
            <button type="submit">Submit</button
        </form>
    {% endblock%}
{% endblock%}


{% block body %}
<article>
    <h1>Hi {{ session['current_user'] }}!</h1>
    {% if session['address'] %}
        You're address is: {{ session['address'] }}!
        <ul>
            {% for address in address %}
                <li>{{ address }}</li>
            {% endfor %}
        </ul>
    <h1>Welcome! Get started <a href="{{ url_for('market_page') }}">here.</a></h1>
        {% endif %}
</article>
{% endblock %}