
ul {
    position: relative;
}

li {
    font-size: larger;
    font-weight: bold;
}

.textarea{
    width:200px;
    height:50px;
    border:1px solid black;
}

.profile-produce-comments {
    overflow-y: scroll;

    width: 100%;
    resize: none;
    /* Remove this if you want the user to resize the textarea */
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    box-shadow: inset 1px 1px 3px #ccc;
    border-radius: 5px;
}

.card-footer {
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
    box-shadow: inset 1px 1px 3px #ccc;
    border-radius: 5px;
}