h3 {
    color: blue;
    font-family: "Gill Sans", sans-serif;
    font-size: 150%;
}

h4 {
    font-family: Montserrat;
    font-weight: 500;
    font-weight: lighter;
}

ul {
    position: relative;
}

li {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

#produce-search {
    font-family: 'Courier New', Courier, monospace;
}

#produce-search {
    font-family: 'Courier New', Courier, monospace;
}

.profile-produce-comments {
    overflow-y: scroll;
    height: 100px;
    width: 100%;
    resize: none;
    /* Remove this if you want the user to resize the textarea */
}