{% extends 'base.html' %}
{% block title %}
  Marketplace
{% endblock %}



{% block body %}

    <script>
        /*
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
          } else { 
            map.innerHTML = "Geolocation is not supported by this browser.";
          }
        
        
        function showPosition(position) {
            map.innerHTML = "Latitude: " + position.coords.latitude + 
          "<br>Longitude: " + position.coords.longitude;
        }
        */
        function initMap() {
          // The location of SF
          const sf = { lat: 37.753506, lng: -122.433315 }; 
          // The map, centered at SF
          const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 12,
            center: sf,
          });
            let lat = 0;
            let lng = 0;
                console.log('HERE #####: item')
                
                lat = 0; //exchange_items.user.lat
                lng = 0; //exchange_items.user.lng
                if (lat != 'None') {
                  const coord = {
                    lat: lat,
                    lng: lng
                }
                new google.maps.Marker({
                    position: coord,
                    label: 'exchange_items.user.username',
                    title: 'title',
                    map: map});

                }


          // The marker, positioned at SF
          const marker = new google.maps.Marker({
            position: sf,
            map: map,
          });
        
          // Add circle overlay and bind to marker
        var circle = new google.maps.Circle({
          map: map,
          radius: 1609,    // 1 miles in metres
          fillColor: 'green',
          fillOpacity: 0.15
        });
        circle.bindTo('center', marker, 'position');
        }
        
    </script>
        
        <div class="container">
          <div class="row align-items-start">
            <div class="col-8">
              <div style="height: 100vh; width: 100%;">
                <div id="map" style="height:100%; width: 100%;" ></div>
              </div>
            </div>
            <div class="col-4">
              {% for item in exchange_items %}
                {% include "produceEntry.html" %}
              {% endfor %}
            </div>
          </div>
        </div>



        <!-- AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg -->

        <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
        <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIYpD84hN93_pAL4oomppVemp3JYSvaRE&callback=initMap&libraries=&v=weekly&channel=2"
          async
        ></script>


{% endblock %}