{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block body %}
<div class="homeContainer">
    <span class="bigText">
        Explore Local Produce
    </span>
    <span class="mediumText">
        Explore who's growing in your neighorhood
    </span>
    <h2>Get started <a href="{{ url_for('exchange') }}">here.</h2></a></h1>
</div>

    <!-- {% block form %}
    <h1>Welcome, {{ session['current_user'] }}!</h1>
        <h2>Add produce <a href="{{ url_for('market_page') }}">here.</h2></a></h1>
    {% endblock%} -->
{% endblock%}



