{% extends 'base.html' %}
{% block title %}
Marketplace
{% endblock %}

{% block body %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myDIV *").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script> -->

<h1>Marketplace</h1>
<section id="produce-search">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% from "_formhelpers.html" import render_field %}
  <form method=post>
    <dl>
      {{ render_field(form.select) }}
      <p>
      {{ render_field(form.search) }}
    </p></dl>
    <p><input type=submit value=search>
  </p></form>
</section>


<section>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Nutrient</th>
                <th scope="col">Store</th>
                <th scope="col">Variety</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody id="produce-results">

            <!-- Your rows inside the table HERE: -->
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.nutrient }}</td>
                <td>{{ item.store }}</td>
                <td>{{ item.variety }}</td>
                <td>
                    <a class="btn btn-primary" href="/market/{{ item.id }}">Details</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div class="loader">
    </body>

    </html>



    {% endblock %}