<div class="row">
    <div class="col">
        <img class="profileBackgroundImage" src="static/img/veggies/{{ item.userProduce.produce.name }}.jpeg"
            object-position="center" alt="{{ item.userProduce.produce.name }}"> </img>
    </div>
</div>

<div class="row align-items-center">
    <div class="col-4">{{ item.userProduce.produce.name}} </div>
    <div class="col-2">{{ item.amount}} </div>
    <div class="col-4"> {{ item.userProduce.user.username }} </div>
    <div class="col-2">
        <button type="button" class="btn email-button" data-toggle="modal" data-target="#modalContactForm_{{ item.userProduce.id }}"></button>
    </div>
</div>



<!-------------- MODAL TWILIO FLASK MAIL ---------------->
<div class="modal fade" id="modalContactForm_{{ item.userProduce.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        
        <form action="/exchange/contact/{{ item.userProduce.id }}" method="post">

            <div class="modal-content">
                <div class="modal-header text-center">

                    <h4 class="modal-title w-100 font-weight-bold">Contact {{ item.userProduce.user.username }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">

                    <div class="md-form">
                        <i class="fas fa-pencil prefix grey-text"></i>
                        <textarea type="text" id="messageContent_{{ item.userProduce.id }}" 
                            name="messageContent_{{ item.userProduce.id }}" 
                            class="md-textarea form-control" rows="4" placeholder="Your Message"></textarea>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-right">
                    <p><input type="submit" value="Contact"></p>
                </div>

            </div>
        </form>
    </div>
</div>

<!------------- ADD TWILIO EMAIL/SEND BUTTON FORM ----------------->
<!-- <!doctype html>
<html>
    <head>
        <title>Twilio SendGrid Example</title>
    </head>
    <body>
        <h1>Twilio SendGrid Example</h1>
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endwith %}
        <form action="/exchange/contact" method="post">
            <p>Your email: <input type="text" name="recipient"></p>
            <p><input type="submit" value="Send a Test Email"></p>
        </form>
    </body>
</html> -->