{% extends 'base.html' %}

{% block title %}Exchange{% endblock %}
{% block body %}
<div class="headline">
    <h1>User Produce</h1>
</div>
<div class="tableWrapper">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Produce</th>
                <th>Quantity</th>
                <th>Condition</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for user_produce in user_produce %}
            <tr>
                <td>{{ user_produce.user.username }}</td>
                <td>{{ user_produce.produce.name }}</td>
                <td>{{ user_produce.quantity }}</td>
                <td>{{ user_produce.condition }}</td>
                <td>
                    <form action="{{ url_for('delete_user_produce', id=user_produce.id) }}" method="post">
                        <input class="btn" id="delete_user_produce" value="{{ user_produce.id }}" name="delete_user_produce" />
                        <input type="submit" value="Delete" />
                    </form>

                    <form action="{{ url_for('add_exchange_produce', id=user_produce.id) }}" method="post">
                        <input class="btn" id="exchange_produce" value="{{ user_produce.id }}" name="exchange_produce" />
                        <input type="submit" value="Exchange" />
                    </form>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
















