# created by virtualenv automatically
* Twilio API KEY: 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
SENDGRID_API_KEY=”<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>”
MAIL_DEFAULT_SENDER=”<adamjackson397@gmail.com>”



# spoonacular api key:
API_KEY = '94016bc42734493084e87bba6984b963'
